body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-image: url("./images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-width: 600px) {
	body {
		background-image: linear-gradient(
			to right,
			rgb(226, 53, 87),
			rgb(76, 128, 224)
		);
	}
}
